
.DS_Store
node_modules/
cool p5.js effects log (dont keep here)
cool p5.js effects log (dont keep here)
cool p5.js effects log (dont keep here)
*.js effects log (dont keep here)
*.js effects log (dont keep here)
